body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 70px;
}
.name{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    padding-top: 20px;
    width: 80%;
}
.hire-button{
    text-decoration: none;
    color: white;
    /* background-color: orange; */
    background-image: linear-gradient(orange,tomato);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5%;
}
.header{
    background-image: url(/images/top-banner.png);
    background-repeat: no-repeat;
}